<h1>
    Moose
</h1>

<div class="main-radio-container">

    <div class="radio-queue-container">

        <h2>
            Radio Queue
        </h2>

        <ul id="RadioQueueUl"></ul>

    </div>

    <div class="controls-container">

        <h2>
            Input a New Song for the Radio
        </h2>

        <br />

        <input type="file" id="NewSongInput" />

        <br />

        Song Title: <input type="text" id="NewSongTitle" />

        <br />

        Artist: <input type="text" id="NewSongArtist" />

        <br />

        <input type="submit" text="Submit Song" id="SubmitSong" />

    </div>

</div>